.fancy-font {
  font-family: Meringue; }

.desc-text {
  font-weight: 300;
  color: black; }

.App {
  text-align: center; }

.App-logo {
  height: 60px; }

.wrap {
  background: #FcFcFc; }

.main-heading {
  font-size: 3rem; }

.bg-color {
  background: linear-gradient(transparent 85%, #FcFcFc 85%), radial-gradient(at bottom, #f8f8f8 0%, #f8f8f8 55%, #fcfcfc 55%, #fcfcfc 65%, white 65%), radial-gradient(at bottom, #fcfcfc 0%, #fcfcfc 65%, white 65%); }

.header_imga {
  width: 85%; }

.header_imga2 {
  width: 75%; }

.home-promo-block {
  padding-top: 5rem; }

.home-promo-block-cont {
  margin-bottom: 5rem; }

.home-promo-block-info {
  word-break: word-break;
  hyphens: auto; }

.home-partners-single {
  cursor: pointer; }

.home-partners-single-img {
  background: #fff;
  min-height: 10rem;
  transition: opacity .15s ease-out,box-shadow .15s ease-out,transform .15s ease-out,-webkit-transform .15s ease-out; }

.home-partners-single:hover .home-partners-single-img,
.home-partners-single--selected .home-partners-single-img {
  z-index: 1;
  box-shadow: 0 22px 50px rgba(14, 21, 47, 0.1), 0 8px 20px rgba(14, 21, 47, 0.1);
  transform: scale(1.05);
  opacity: 1; }

.home-partners-single-txt {
  color: #868e96;
  transition: color .15s ease-out;
  word-break: break-all; }

.home-partners-single:hover .home-partners-single-txt,
.home-partners-single--selected .home-partners-single-txt {
  color: #555b61; }

.navbar-toggler {
  outline: none !important; }

.line {
  display: block; }

.line > p {
  position: relative;
  display: inline-block; }

.line > p:after {
  content: "";
  position: absolute;
  top: 60%;
  width: 2rem;
  height: 2px;
  background: #333433; }

.line > p:after {
  left: 100%;
  margin-left: 15px; }

.home-partners-block {
  min-height: 550px; }

.home-partners-single-content {
  text-align: justify;
  color: #495057;
  font-size: 0.875rem;
  line-height: 1.5rem;
  letter-spacing: 0.2px; }
