$dark:                              #333433;
$yellow:                            #F4C430;
$red:                               #F25F5C;
$blue:                              #247BA0;
$teal:                              #74B8BB;
$green:                             #9BC53D;
$text-light:                        #fcfcfc;

$link-color: $text-light;

@import "node_modules/bootstrap/scss/bootstrap";

html {
  font-size: 0.8rem;

}

body {
  color: $text-light;
  letter-spacing: 0.7px;
}

.list-unstyled > li {
  line-height: 2rem;
    >a {
    padding-left: 1rem;
    letter-spacing: 1.2px;
    font-weight: 300;
      &:hover{
        text-decoration: none;
      }
  }
}


.a--styled{
    color: $red;
    text-decoration: none !important;
    border-bottom: 1px solid rgba( $red, .4 );
}

.fancy-font {
    font-family: Meringue;
}

.App-logo {
  height: 50px; }

.wrap {
  background: #FcFcFc; }

.topbar-nav {
  font-size: .9rem;
  font-weight: 400;
    >*{
      padding: .5rem; }
    >*:hover {
        cursor: default;
    }
}

.s1-wrap {
  z-index: 1;
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba($dark,0.9), rgba($dark,0.9)),
    url(https://scontent-frx5-1.xx.fbcdn.net/v/t1.0-9/1014274_523667927681422_192679621_n.jpg?oh=d14a460d1357ea312219309dc827a3f2&oe=5B1981C9);
    background-size: cover;
    background-position: center bottom;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 101%;
    height: 101%;
    transition: all .2s ease-out;
  }
  &:hover:before {
      transform: scale(1.05); 
  }
}

.s2-wrap {
  z-index: 1;
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba($blue,0.9), rgba($blue,0.9)),
    url(https://image.shutterstock.com/z/stock-photo-close-up-of-a-factory-overhead-crane-81895900.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
  }
  &:hover:before {
      transform: scale(1.05); 
  }
}

.s3-wrap {
  z-index: 1;
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba($red,0.9), rgba($red,0.9)),
    url(../assets/bg_panel3.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
  }
  &:hover:before {
      transform: scale(1.05); 
  }
}

.s4-wrap {
  z-index: 1;
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba($dark,0.9), rgba($dark,0.9)),
    url(https://image.shutterstock.com/z/stock-photo--moto-troops-electric-motors-41488657.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
  }
  &:hover:before {
      transform: scale(1.05); 
  }
}

.s5-wrap {
  z-index: 1;
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba($dark,0.9), rgba($dark,0.9)),
    url(../assets/bg_panel1.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
  }
  &:hover:before {
      transform: scale(1.05); 
  }
}

.s6-wrap {
  z-index: 1;
  overflow: hidden;
  &:before {
    background: linear-gradient(rgba($yellow,0.9), rgba($yellow,0.9)),
    url(../assets/bg_panel1.jpg);
    background-size: cover;
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .2s ease-out;
  }
  &:hover:before {
      transform: scale(1.05); 
  }
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 0.8rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1rem;
  }
}