$dark: 								#333433;
$yellow:							#FFE066;
$red:								#F25F5C;

ul {
	list-style: none;
	padding: 0;
}


.a--styled{
	color: $red;
	font-weight: 500;
	text-decoration: none !important;
	border-bottom: 1px solid rgba( $red, .7 );
	word-break: break-all;
}

.home-partners-single-content>a:visited,
.home-partners-single-content>a:hover, 
.home-partners-single-content>a:active {
	color: darken( $red, 10% );
}

@import "node_modules/bootstrap/scss/bootstrap";

